---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@font-face {
  font-family: Yekan;
  src: url('/assets/fonts/yekan/Yekan.eot');
  src: url('/assets/fonts/yekan/Yekan.eot?#iefix') format('Yekan-opentype'),
  url('/assets/fonts/yekan/Yekan.woff') format('woff'),
  url('/assets/fonts/yekan/Yekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Yekan, Arial, serif;
}

img {
  border: 1px solid black;
}
